/* Folha de estilo do arquivo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

*{
    background-color: black;
    color:#fff;
    font-family: 'Montserrat',sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh; /*Viewport Height*/
}

button{
    font-size: 20px;
    margin: 15px;
    padding: 20px;
    background: #394680;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{  /*Quando o  mouse estiver posicionado em cima*/
    background-color: #fff;
    color: blueviolet;
    border: 1 px solid blueviolet;
}

img{
    width: 128px;
    border-radius: 64px;
}
.fotos{
    display: flex;
    flex-direction: line;
    margin:5px;
}
.linha{
    display: flex;
    flex-direction: row;
    transform: scale(1.1);
}

label,select{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}